<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Taviraj" rel="stylesheet">
<body>
  <h1>Battle!</h1>
  <h2>Choose your villain!</h2>
  <form action="/play" method="get">
    
  </form>
</body>
